# visual studio code
.vscode/

# Python
venv/
virtualenv/
__pycache__/
.pytest_cache/
.mypy_cache/
build/
dist/
*.egg-info/
docs/build_*
.eggs/

# Python Coverage
.coverage
coverage/*

# Python tox
.tox

# misc
.DS_Store

# Robot Framework
log.html
report.html
output.xml
doc/libdoc
